@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /* Nunito font */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------- Header  ---------------------------------------- */
header{
    background-color: #353535;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
/* -------------------- Logo -------------------- */
.logo{
    width: 100px;
}
/* -------------------- Navbar -------------------- */
nav {
    list-style: none;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav li{
    list-style-type: none;
    padding: 10px 20px;
    margin: 0px 10px;
    font: 20px 'Nunito', sans-serif;
    background: #141414;
    border-radius: 20px;
}

nav li a{
    text-decoration: none;
    color: white;
}

nav li:hover, .active {
    background-color: #525252;
}
/* ----- Login and Chart -----*/
.loginandchart{
    background: #3C6E71;
}
.loginandchart:hover{
    background: #4D9093;
}

/* ---------------------------------------- Footer  ---------------------------------------- */
footer{
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: #284b63;
}