* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: white;
}

.header{
    background-image: teal;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 220px;
    border: 2px solid red;
}