@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /* Ubuntu font */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    /*background-image:url("images/header_background.jpg");
    background-size: cover;*/
    background-color: #353535;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 100px;
    border: 2px solid red;
}

footer{
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: #284b63;
}